<?xml version="1.0"?>
<!--

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Wael_CustomCatalog::custom_catalog" title="CustomCatalog" translate="title" module="Wael_CustomCatalog"
             parent="Magento_Catalog::inventory" sortOrder="50" action="customcatalog/product/"
             resource="Wael_CustomCatalog::products"/>
    </menu>
</config>
